.projectList{
    flex: 4;
}
.projectListItem{
    display: flex;
    align-items: center;   
    
}
.projectListImg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.projectListEdit {
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #3bb077;
    color: #fff;
    margin-right: 20px;
    cursor: pointer;
}

.projectListDelete{
    color: red;
    cursor: pointer;
}