.sidebar {
  flex: 1;
  height: calc(100vh - 50px);
  background-color: rgb(250, 250, 250);
  position: sticky;
  top: 50px;
}

.sidebarWrapper {
  padding: 20px;
  color: #555;
}

.sidebarMenu {
  margin-bottom: 20px;
}

.sidebarTitle {
  font-size: 13px;
  color: rgba(187, 186, 186, 1);
}

.sidebarList {
  list-style-type: none;
  padding: 5px;
}

.sidebarListItem {
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.sidebarListItem.active,
.sidebarListItem:hover{
    background-color: rgb(228, 228, 250)
}


.sidebarIcon{
    margin-right: 5px;
    font-size: 20px !important;
}